.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid black;
  align-items: center;
}

.listItem {
  list-style-type: none;
}

.actions {
  display: flex;
  gap: 1.2rem;
  margin-right: 1.2rem;
}

.actions button {
  border: none;
  height: 2rem;
  width: 4rem;
  border-radius: 12px;
  background-color: #44bba4;
  transition: all 0.3s;
}

.actions button:hover,
.actions button:focus,
.actions button:active {
  color: white;
  background-color: #308373;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
}
