.container {
  display: flex;
  flex-direction: column;
  background-color: #3f88c5;
  padding: 2rem;
  width: 45rem;
  height: 40rem;
  border-radius: 12px;
  box-shadow: 10px 10px 10px 0 rgb(255, 255, 255, 0.15);
}
